<div class="container-fluid">
	<div class="row">
		<div class="col-md-3" id="filesystem" ng-controller="filesystemCtrl">
			<h3>Filesystem</h3>
			<div treecontrol class="tree-classic" tree-model="filesystem"
				options="treeOptions" on-selection="selectResource(node)"
				selected-node="node1">{{node.name}}</div>
			<textarea cols="50" rows="30" ng-model="selectedResourceContents"></textarea>
		</div>
		<div class="col-md-9" id="commands" ng-controller="commandsCtrl">
			<h3>Command</h3>
			<input type="search" class="form-control"
				placeholder="Search for available commands..." ng-model="searchBox">
			<hr role="separator" class="divider"/>
			<ul id="command-list" class="nav nav-pills nav-stacked list-group">
				<li ng-repeat="c in commands|filter:searchBox" class="list-group-item"><a
					ui-sref="wizard({wizardId: c.id})">{{c.name}}</a></li>
			</ul>
		</div>
	</div>
</div>
