/* ALL CUSTOM CSS FOR FORGE WEBSITE */

/*===============================================================================
 CUSTOM FONT IMPORTS
===============================================================================*/

/* Archivo Narrow (Regular and Bold) */
@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700|Open+Sans:400,300,700|Montserrat:400,700);

/*
font-family: 'Archivo Narrow', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
*/


/* Template copy for manual insertion (if needed) */

/*
@font-face {
    font-family: 'DiscipuliBritannica';
    src: url('fonts/DiscipuliBritannica.eot');
    *//* IE9 Compat Modes *//*
    src: url('fonts/DiscipuliBritannica.eot?#iefix') format('embedded-opentype'),
    *//* IE6-IE8 *//*
    url('fonts/DiscipuliBritannica.woff') format('woff'),
    *//* Modern Browsers *//*
    url('fonts/DiscipuliBritannica.ttf')  format('truetype'),
    *//* Safari, Android, iOS *//*
    url('fonts/DiscipuliBritannica.svg#DiscipuliBritannica') format('svg');
    *//* Legacy iOS *//*
}

/*===============================================================================
 GENERAL CUSTOM TAGS
===============================================================================*/
html , body {
    width:100%;
    max-width:100%;
    overflow-x: hidden;
}

body {
    /*background:#ccc;*/
    /* Default font */
    font-family: "Open Sans",Helvetica, sans-serif;
    font-size:16px;
}

a {
    color:#222243;
}

a:hover,
a:active,
a:visited,
a:focus {
    text-decoration:none;
    outline:none;
    border-width:0;
}

header,
div.container,
div.container-fluid,
.page-section {
    /* Border for testing */
   /* border:1px dotted red;*/
}

h1,.h1,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6 {
    font-family: "Open Sans",Helvetica, sans-serif;
}

h1 {
    font-weight: 300;
}
h1 strong,
h1 b {
    font-weight:700;
}


h2,.h2 {
    font-family: "Montserrat",sans-serif;
    font-size:26px;
    text-transform: uppercase;
    font-weight:700;
}

h4,.h4,
h5,.h5,
h6,.h6 {
    font-weight: 300;
}

/* Flyover Menu */
.flyover-menu {
    position:absolute;
    width:180px;
    height:100%;
    background: #16162c;
    box-shadow:0px 0px 5px #181818;
    z-index:4020;
    /* Starting Position is a -margin of width + 15px (to account for the Bootstrap padding) */
    margin-left:-195px;
}

.flyover-menu ul {
    padding:1em 0 0 0;
    margin:0;
    width:90%;
    float:right;
    padding-right:10%;
}

.flyover-menu ul li {
    list-style:none;
    color:white;
    text-transform: uppercase;
    font-family: "Archivo Narrow",sans-serif;
    text-align:right;
    padding:0;
    margin:0;
}

.flyover-menu ul li a {
    color:white;
    display:block;
    padding:.5em .8em;
    margin:.2em 0;
    font-size:1em;
    line-height: 1;
}

.flyover-menu ul li a:hover {

    background: #212146;
    border-radius:15px;
}

.flyover-menu ul li a:active {
    color: #b2b2b2;
    background: #3b3b7d;
}

.flyover-menu ul li a,
.flyover-menu ul li a:hover,
.flyover-menu ul li a:active,
.flyover-menu ul li a:focus,
.flyover-menu ul li a:visited {
    outline:none;
}


.flyover-backdrop {
    display:none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4000;
    background-color: #000;
    width:100%;
    filter: alpha(opacity=0);
    opacity: 0;
    /*filter: alpha(opacity=50);
    opacity: .5;*/
}

.flyover-backdrop.active {
    display:block;
}


.page-section {
    position: relative;
    width:100%;
    clear:both;
}

/* Any page section besides the parallax */
.static {
    padding-top:3em;
    padding-bottom:3em;
}

/* Background colors for sections */
.white {
    background:#ffffff;
    color:#131726;
}

.light-grey {
    background:#e8e8ea;
    color:#131726;
}

.blue {
    background:#222243;
    color:white;
}

.blue a {
    color:#222243;
}




.forge-btn {
    /* Kept for reference */
}

.btn {
    font-family: 'Montserrat',sans-serif;
    text-align: center;
    display:block;
    border-radius:          5px;
    -moz-border-radius:     5px;
    -webkit-border-radius:  5px;
    border:none;
    box-shadow:   0px 0px 2px #333333;
}

/* This tag might be included in one or two instances */
.btn.no-shadow {
    box-shadow: none;
    -moz-box-shadow: none;
}

.forge-btn:hover,
.forge-btn:active {
    text-decoration:none;
    outline:none;
    color:#ffffff;
    box-shadow:         0px 0px 3px black;
}

.btn-lrg {
    font-size: 22px;
    padding:15px 0;
}

.btn-med {
    font-size:16px;
    padding:9px 3px 8px 3px;
}

.btn-red {
    background: #ee3327;
}

.btn-orange {
    background:#ee4627;
}

.btn-red:hover,
.btn-orange:hover {
    background: #f75649;
}

.btn-red:active {
    background: #b2291e;
}

.btn-blue {
    background: #222243;
}

.btn-blue:hover {
    background: #2a2b4d;
}

.btn-blue:active {
    background:#191a32;
}

.btn-half-width {
    width:50%;
}

.btn-center {
    margin:0 auto;
}

.btn,
.btn:active,
.btn:focus,
.forge-btn:active
.forge-btn:visited {
    outline:none;
}

.btn,
.btn:focus,
.btn:hover,
.btn:link,
.btn:active,
.forge-btn:active,
.forge-btn:focus,
.forge-btn:link,
.forge-btn:focus {
    outline:none;
}

a,
a:hover,
a:link,
a:active,
a:focus,
a:link,
.btn:active:focus,
.btn.active:focus {
    outline:none;
}

/*===============================================================================
 HEADER
===============================================================================*/


div.header,
header {
    background:#222243;
    color:white;
    height:auto;
    min-height:80px !important;
    padding:0;

}
header.navbar {
    margin:0;
}

a.forge-main-logo {
    display: block;
    width:215px;
    height:60px;
    background: url(../images/forge_logo_215x60.png) no-repeat;
    background-size: cover;
   /* border:1px solid red;*/
}

header .header-container {
    width:96%;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;

}

.navbar-header,
.login-register-button-div,
#navBarMain {
   /* border:1px dotted yellow;*/
}

div[role="navigation"] {
    position: relative;
    /*height:100%;*/
    margin-top:30px;
   /* border:1px dotted gold;*/
}

button.navbar-toggle {

}

button.navbar-toggle,
button.navbar-toggle span.icon-bar {
    border:1px solid white;
}

div[role="navigation"] ul {
    vertical-align: bottom;
    margin-bottom:0;
    padding:.2em 0;
}

#navbarmain {
    border:none;
    padding:.2em 0;
}


.login-register-button-div {
    position: relative;
    margin-top: 28px;
}

ul.login-register-btns {
    vertical-align: bottom;
    margin-bottom: 0;
}

.navbar-nav.login-register-btns > li {
    padding:0;
}

.navbar-nav > li > a {
    padding:4px 15px;
    border-radius:          15px;
    -moz-border-radius:     15px;
    -webkit-border-radius:  15px;
    outline:none;
}

.navbar-nav > li > a,
.navbar-nav > li > a:hover {
    text-shadow: none;
}

button.navbar-toggle {
    border:none;
}

.navbar-nav > li > a:hover {
    text-decoration:none;
    background:#414181;
}

ul.nav a {
    color:white;
}


ul.login-register-btns li a {
    background: white;
    color: #222243;
    text-align: center;
    outline:none;
}

/* Reset radii for login/register buttons before applying changes */
ul.login-register-btns li:first-child a,
ul.login-register-btns li:last-child a {
    border-radius:          0;
    -moz-border-radius:     0;
    -webkit-border-radius:  0;
}

ul.login-register-btns li:first-child a:hover,
ul.login-register-btns li:last-child a:hover {
    background: #cccccc;
}

ul.login-register-btns li:first-child a:active,
ul.login-register-btns li:last-child a:active,
ul.login-register-btns li:first-child a:visited,
ul.login-register-btns li:last-child a:visited {
    outline:none;
}

/* Need a pixel value for this */
ul.login-register-btns li:first-child a {
    border-top-left-radius:   15px;
    border-bottom-left-radius:15px;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-topleft: 15px;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    border-right:1px solid #222243;
}

ul.login-register-btns li:last-child a {
    border-top-right-radius:   15px;
    border-bottom-right-radius:15px;
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-topright: 15px;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
}


ul.nav {
    font-family: "Archivo Narrow",Helvetica,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
}



/*===============================================================================
PAGE SECTIONS
===============================================================================*/


/*============== DOWNLOAD SECTION (WITH PARALLAX BACKGROUND ==============*/

/* See parallax-styles.css for parallax-specific tags */

.intro-download-section {
    width:100%;
    /*min-height:670px;*/
    margin:-15px 0;
    /*overflow: hidden;*/
    /* Static Background */
    background-color:#333333;
    background-image:url(../images/sparks_med_res.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.intro-download-section .container-fluid.content-holder {

    /*Testing
    border:1px dotted yellow;*/
    width:100%;
    padding:0;
    margin:0;
   /* height:670px;*/
}



.forge-download-row {
    margin:180px auto 0 auto;
    width:100%;
}

.blue-back-div {
    background-color:rgba(34,34,67,.9);
    height:250px;
    position: relative;
}

.forge-anvil-main-logo {
    text-align: center;
    display:block;
    width:180px;
    height:180px;
    padding:15px 10px 10px 10px;
    background-image:url(../images/anvil_download_section_150x132.png);
    background-repeat:no-repeat;
    background-origin: content-box;
    background-size: contain;
    background-color:#fff;
    border:3px solid #ee3327;
    margin:-120px auto 0 auto;
    z-index: 100;
    box-shadow: 0 1px 5px #333333;
    -moz-box-shadow: 0 1px 5px #333333;

    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}


.forge-headline {
    text-align: center;
    font-size:33px;
    font-weight:300;
    font-family: "Open Sans", sans-serif;
    color:white;
    padding:1em 0 0 0;
    line-height: 1.2em;

}

.forge-headline strong {
    font-weight:bold;
}

.forge-marquee-text {
    font-size:16px;
    color:white;
}

.download-btn  {
    width:170px;
    position: relative;
    top:-25px;
    float:none;
    color:#ffffff;
    margin:0 auto;
    z-index: 2500;
    text-align: center;
    vertical-align: middle;
    padding:10px 20px;
}

.marquee-text-row {
   /* margin-top:1.5em 0 0 2em;*/
    margin-top:0;
    margin-bottom:3em;
}

.marquee-text-row div h4 {
    text-align: center;
    margin:1em 0;
}

.marquee-text-row div h4 a {
    color:white;
    outline:none;
    text-decoration: none;
    font-weight: 400;
}

.marquee-text-row div h4 a:hover {
    color:#ee3327;
}



/*============== ADDONS SECTION ==============*/

.forge-image-graphic-div {
    width:70%;
    margin:0 auto;
}

.forge-image-graphic-div img {
    margin:0 auto;
    width:100%;
    height:auto;
}

/* Unlike the main emblem above, the emblem here shows the image as as background property. */
.forge-anvil-addons-emblem {
    background-image: url(../images/anvil_download_section_150x132.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right:10%;
    bottom:0;
    text-align: center;
    display:block;
    width:200px;
    height:200px;
    padding:20px;
    background-color:white;
    border:3px solid #ee3327;
    z-index: 100;
    box-shadow:         0 1px 5px #333333;
    border-radius:          50%;
    -moz-border-radius:     50%;
    -webkit-border-radius:  50%;
}



/*============== JOIN US/CONTRIBUTE SECTION ==============*/
div.page-section.join-us-section {
    background-image:url(../images/white_sparks_med_res.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 50%;
}

div.network-graphic-div-container,
div.network-graphic-grid-container {
    margin-right:0;
    padding:0;
    float:right;
    position: relative;
}

div.network-graphic-grid-container .network-grid {
    padding:0;
    margin:0;
    float:right;
}

/* Network grid must have a series of sizes through each breakpoint – requires its own break points, too */
.network-grid {
    line-height:1em;
    background-image: url(../images/forge-network_816x680.png);
    background-repeat: no-repeat;
    background-size: contain;
}


@media (min-width:1090px) {
    /* Sizes 80% of original (rounded down) */
    .network-grid {
        width:652px;
        height:544px;
    }

    .network-grid img {
        border:4px solid #ee3327;
    }
}

/*
@media (min-width:1000px) and (max-width:1089px) {
    */
/* Sizes 60% of original (rounded down) *//*


    .network-grid {
        width:490px;
        height:408px;
    }

    .network-grid img {
        border:3px solid #ee3327;
    }
}


@media (min-width:960px) and (max-width:999px) {
    */
/* Sizes 55% of original (rounded down) *//*


    .network-grid {
        width:449px;
        height:374px;
    }

    .network-grid img {
        border:3px solid #ee3327;
    }
}
*/


/*============== DOWNLOAD INSTRUCTIONS SECTION ==============*/
.download-instructions-section {
    background: #eeedf2;
    padding:1em 0 2em 0;
}

.download-instructions-section h2.download-title {
    margin-bottom:20px;
    color: #838383;
    text-align: center;
}

.download-instructions-section h2.section-heading {
    margin-top:20px;
    font-size:1.4em;
}

.download-instructions-section ul {
    list-style-position: outside;
    margin:0;
    padding:0;
}

.download-instructions-section ul li {
    font-size:.8em;
    padding:.5em 0;
}


@media (min-width:960px) and (max-width:1089px) {
    /* Sizes 60% of original (rounded down) */

    .network-grid {
        width:490px;
        height:408px;
    }

    .network-grid img {
        border:3px solid #ee3327;
    }
}



@media (min-width:768px) and (max-width:959px) {
    /* Sizes 50% of original (rounded down) */
    .network-grid {
        width:408px;
        height:340px;
    }
    .network-grid img {
        border:3px solid #ee3327;
    }
}


/* Phone/small tablet breakpoints */
.network-div-phone-width-container {
    /*border:1px solid red;*/
    text-align: center;
    overflow:hidden;
    padding:0;
    position:relative;
}

.network-grid {
    float:right;
}

.network-grid img {
    border:3px solid #ee3327;
}

/* These are a series of breakpoints for the network graphic. */
@media (min-width:650px) and (max-width:768px) {
    .network-grid {
        width:816px;
        height:680px;
    }
}

@media (min-width:530px) and (max-width:649px)  {
    .network-grid {
        width:652px;
        height:544px;
    }
}

@media (min-width:450px) and (max-width:529px)  {
    .network-grid {
        width:532px;
        height:443px;
    }
}

@media (min-width:250px) and (max-width:449px)  {
    .network-grid {
        width:460px;
        height:383px;
    }
}

@media (min-width:0px) and (max-width:249px)  {
    .network-grid {
        width:258px;
        height:215px;
    }
}

.network-grid .row {
    padding:0;
    margin:0;
}
.network-grid .row div {
    padding:0;
}

.sub-row-container-row { height:100%;}
.network-grid .row.network-row-3 .sub-row { height:50%;}

.network-grid img {
    border-radius:50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin:0;
}
/* There are three different img display sizes relative to each of their container rows */

/* Hide default image container */
.network-img-holder {
    display:none;
}

/* Top Margins (by %) for each img placement - again, values are relative to each one's immediate container row (not the whole grid) */

/* <img> top margins */
div[data-img-pos="0"]  img { margin-top: 1%;       }
div[data-img-pos="1"]  img { margin-top: 5%;       }
div[data-img-pos="2"]  img { margin-top: 10.67%;   }
div[data-img-pos="3"]  img { margin-top: 23%;      }
div[data-img-pos="4"]  img { margin-top: 8.85%;    }
div[data-img-pos="5"]  img { margin-top: 8.85%;    }
div[data-img-pos="6"]  img { margin-top: 21.5%;    }
div[data-img-pos="7"]  img { margin-top: 5.3%;     }
div[data-img-pos="8"]  img { margin-top: 25.13%;   }
div[data-img-pos="9"]  img { margin-top: 1%;       }

/* <img> left margins */
div[data-img-pos="0"]  img { margin-left: 1%;       }
div[data-img-pos="1"]  img { margin-left: 1%;       }
div[data-img-pos="2"]  img { margin-left: 19.5%;   }
div[data-img-pos="3"]  img { margin-left: 5.84%;      }
div[data-img-pos="4"]  img { margin-left: 8.3%;    }
div[data-img-pos="5"]  img { margin-left: 8.91%;    }
div[data-img-pos="6"]  img { margin-left: 9.6%;    }
div[data-img-pos="7"]  img { margin-left: 1%;     }
div[data-img-pos="8"]  img { margin-left: 25.1%;   }
div[data-img-pos="9"]  img { margin-left: 10.4%;       }


div.network-graphic-div {
    float:right;
    display:block;
    width:100%;
    height:100%;
    border:1px solid red;
}



/*============== WORKS IN ENVIRONMENT/OS SECTION ==============*/

div.environment-os-section {

}

.environment-os-section-heading {
    text-align: center;
}
.os-first-section {
    padding-bottom:2em;
}

.os-first-section h1 {
    text-align: center;
}

.download-os-divs {
    position: relative;
    margin-top:2em;
}

.download-os-divs .link-p.get-forge {
    text-align: right;
}

p.need-forge {
    text-align: center;
}

.grey-div {
    text-align:center;
    vertical-align: baseline;
}

.grey-div.left-div {

}

.grey-div.left-div,
.grey-div.right-div  {
    background:#bdbbc5;
}

.grey-div.right-div h2 {
    text-align: right;
}

.grey-div.center-div {
    background: #dbdadf;
    width:96%;
    margin-left:2%
}

.grey-div div p,
p.link-p {
    font-family:"Montserrat",sans-serif;
    font-size:15px;
    letter-spacing: 1px;
    padding:.8em 0;
    clear:both;
}

p.link-p a {
    color:#222243;
}

p.link-div a:hover {
    color:#ee3327;
}

a.download-arrow {
    display:inline-block;
    width:30px;
    height:30px;
    background:url(../images/down-arrow-124x248.png) no-repeat;
    background-size: cover;
    background-position: 0 0;
    margin-bottom:-5px;
    outline:none;
}

a.download-arrow:hover,
a.download-arrow:active {
    background-position: 0 bottom;
    outline:none;
}

/*============== FOOTER SECTION (BLUE SECTION W/LINKS) ==============*/
.footer-links-support {
    padding-top:1.3em;

}

.footer-first-section .jboss-forge-logo {
    background:url(../images/forge_logo_no_anvil_138x60.png) no-repeat;
    display:block;
    width:92px;
    height:40px;
    background-size: cover;
}

.footer-first-section,
.footer-link-div {
    font-family: "open sans",helvetica,sans-serif;
    font-size:10px;
    letter-spacing: 1px;
}

.footer-first-section h3,
.footer-link-div h3 {
    font-family:"Montserrat", sans-serif;
    font-weight:bold;
    font-size:1.5em;
    letter-spacing:1px;
    border-bottom:1px solid #999;
    text-transform: uppercase;
    padding:0 0 .6em 0;
    margin:0 0 1em 0;
}


.footer-first-section ul,
.footer-link-div ul {
    margin:0;
    padding:0;
    list-style-position: inside;
    color:white;
    text-transform: uppercase;
}

.footer-first-section ul li,
.footer-link-div ul li {
    margin:1em 0;
    padding:0;
    line-height:1.5em;
}


.footer-first-section a,
 .footer-link-div a {
     color:white;
 }

.footer-first-section a:hover,
.footer-link-div a:hover,
.footer-first-section a:active,
.footer-link-div a:active {
    color:white;
    text-decoration:underline;
    outline:none;
}


.footer-link-div input.search-input {
    background:#ffffff;
    border:1px solid #cccccc;
    color:#333333;
    font-weight: bold;
    text-transform: uppercase;
    font-size:10px;
    margin-top:-1px;
}

span.search-box,
a.search-box,
input.submit-footer-search {
    width:18px;
    height:18px;
    border:none;
    outline:none;
    padding:2px 0 0 4px;
    display:inline-block;
    background-color:#cccccc;
    color:white;
}

span.search-box:hover,
a.search-box:hover,
input.submit-footer-search:hover,
span.search-box:active,
a.search-box:active,
input.submit-footer-search:active {
    outline:none;
    background-color:#999999;
}

/* Footer Social Icons for larger screen sizes & smaller sizes */
ul.footer-social-icons {
    margin:0;
    padding:0;
    clear:both;
    position: relative;
}

ul.footer-social-icons li {
    margin:0 .3em;
    padding:0;
    float:left;
    list-style: none;
}

ul.footer-social-icons li:first-child {
    margin-left:0;
}

ul.footer-social-icons li:last-child {
    margin-right:0;
}

ul.footer-social-icons li a {
    display:block;
    width:20px;
    height:20px;
    outline:none;
}

div.footer-social-icons-inline {
    text-align: center;
    margin:0;
}

div.footer-social-icons-inline a {
    display:inline-block;
    width:40px;
    height:40px;
    padding:0;
    box-sizing: content-box;
}

ul.footer-social-icons li a.facebook-link,
div.footer-social-icons-inline a.facebook-link {
    background-image:url(../images/facebook_60x120.png);
}

ul.footer-social-icons li a.twitter-link,
div.footer-social-icons-inline a.twitter-link  {
    background-image:url(../images/twitter_60x120.png);
}


ul.footer-social-icons li a.linkedin-link,
div.footer-social-icons-inline  a.linkedin-link {
    background-image:url(../images/linkedin_60x120.png);
}

ul.footer-social-icons li a.googleplus-link,
div.footer-social-icons-inline a.googleplus-link {
    background-image:url(../images/googleplus_60x120.png);
}

ul.footer-social-icons li a.youtube-link,
div.footer-social-icons-inline a.youtube-link {
    background-image:url(../images/youtube_60x120.png);
}



ul.footer-social-icons li a,
div.footer-social-icons-inline a {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}
ul.footer-social-icons li a:hover,
div.footer-social-icons-inline a:hover {
    background-position: 0 bottom;
}

ul.footer-social-icons li a:hover,
ul.footer-social-icons li a:active,
ul.footer-social-icons li a:visited,
div.footer-social-icons-inline a,
div.footer-social-icons-inline a:hover,
div.footer-social-icons-inline a:active,
div.footer-social-icons-inline a:visited {
    outline:none;
}



/*============== FOOTER SECTION (BOTTOM DARK-GREY PORTION) ==============*/

footer,
div.footer {
    background:#24242d;
    color:white;
    padding:2em 0;

}

.footer-medallion {
    display:block;
    width:100px;
    height:100px;
    background:url(../images/anvil_medallion_170x170.png);
    background-size: cover;
    background-repeat: no-repeat;
    float:right;
    margin-top:-50px;
}

/*===============================================================================
CSS FOR COLLAPSIBLE PANELS (ON MULTIPLE PAGES) WITH ADVANCED SEARCH BUTTONS
===============================================================================*/

/* BUTTON */
.advanced-search {
    text-align: center;
    position: relative;
    padding:3em 0 0 0;
    color:white;
}

.advanced-search-button-link .text-block {
    color:white;
}

.advanced-search-button-link:hover .text-block {
    color:#cccccc;
}

.advanced-search span {
    display:inline-block;
    text-align: center;
    padding:5px;
}


.advanced-search span.text-block {
    font-size:20px;
    font-family:"Open Sans",sans-serif;
    font-size:20px;
    font-weight:100;
}

/* White Chevron Span */
.advanced-search-button-link span.white-chevron.filled {
    height:24px;
    width:40px;
    padding:0px;
    background-image:url(../images/chevron-set-filled-down_120x144.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size:cover;
    overflow:visible;
}

.advanced-search-button-link span.white-chevron-outline {
    height:24px;
    width:40px;
    padding:0px;
    background-image:url(../images/chevron-set-outlined-down_120x144.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size:cover;
    overflow:visible;
}

.advanced-search-button-link:hover span.white-chevron {
    background-position:center bottom;
}

.advanced-search-button-link:hover span.white-chevron-outline {
    background-position:center bottom;
}


.advanced-search-button-link span.white-chevron.up {
    background-image:url(../images/chevron-set-filled-up_120x144.png);
    background-position: top;
}

.advanced-search-button-link:hover span.white-chevron.up {
    background-position:center bottom;
}

.advanced-search-button-link span.white-chevron-outline.up {
    background-image:url(../images/chevron-set-outlined-up_120x144.png);
    background-position: top;
}

.advanced-search-button-link:hover span.white-chevron-outline.up {
    background-position:center bottom;
}




/* ADVANCED SEARCH AREA */
.advanced-search-section {
    border-bottom:  5px solid #ee3327;
}

.advanced-search-section .container.main {
    padding-top:1em;
    padding-bottom:1em;
}
.advanced-search-button-area {
    font-size:20px;
    font-family:"Open Sans",sans-serif;
    font-size:20px;
    font-weight:100;
    text-align: center;
}

.advanced-search-section .forge-btn {
    /*box-shadow:none;
    -moz-box-shadow: none;*/
    margin:.5em 0;
}

/* Checkbox Inputs */
.advanced-search-checkbox-area {
    padding:0;
    margin:0;
}


/*===============================================================================
BASE CSS CODE FOR CHECKBOXES
===============================================================================*/

.checkbox-row {
    padding:.4em 0;
    width:100%;
}

input[type="checkbox"].search-checkbox {
    display:none;
}

label.checkbox-label {
    font-weight:normal;
    text-transform: none;
    text-transform: uppercase;
    font-weight:700;
    letter-spacing: 1px;
    font-size:12px;
}

input[type="checkbox"].search-checkbox + label span {
    display:inline-block;
    width:20px;
    height:20px;
    margin:-4px 5px 0 0;
    vertical-align:middle;
    background:url(../images/checkbox_92x46.png) left top no-repeat;
    cursor:pointer;
    background-size:cover;
}
input[type="checkbox"].search-checkbox:checked + label span {
    background:url(../images/checkbox_92x46.png) -19px top no-repeat;
    background-size:cover;
}


/*===============================================================================
BASE CSS FOR PAGE SEARCH BARS (MULTIPLE PAGES)
===============================================================================*/

/*
SINCE BIGGEST SPACING/PADDING DISCREPANCY IS WITH FF,
THESE ARE DESIGNED FOR SAFARI & CHROME FIRST,
WITH EXCEPTIONS FOR FF ADDED LAST.
*/

/* Large Search Input */

.search-bar-row {
    text-align: center;
}

.search-bar-row input  {
    /* Reset */
    border:none;
    margin:0;
    display:inline-block;
    font-size:16px;
    line-height:1;
    outline:none;
    /* Shadows */
   /* box-shadow:0 0 3px #5f5f5f;
    -moz-box-shadow:0 0 3px #5f5f5f;*/
}

.search-bar-row.large input {
    /* Reset */
    border:none;
    font-size:22px;
    margin:0;
}

.search-bar-row input[type="text"] {
    color:#666666;
    padding:6px 15px;
}

.search-bar-row.large input[type="submit"] {
    padding:10px 15px;
}


/* Small Search Input */

.search-bar-row.small    {
    padding-top:2em;
    margin-top:2em;
}

.search-bar-row.small input {
    font-size:16px;
}

.search-bar-row.small input[type="text"] {
    width:70%;
    color:#666666;
    padding:9px 15px;
    line-height: 20px;
}


.search-bar-row.small input[type="submit"] {

    padding:12px 20px;
    /* Button Image */
    background-image: url(../images/magnifying-glass.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


/* Shadows */
.search-bar-row input {
    box-shadow:0 0 3px #666666;
    -moz-box-shadow: 0 0 3px #cccccc;
}

.search-bar-row input[type="submit"] {
    box-shadow:0 0 4px #666666;
    -moz-box-shadow: 0 0 4px #cccccc;
}

/* ** Firefox Search Bar Adjustments ** */

@-moz-document url-prefix() {
   /* Larger Search Bar */
    .search-bar-row.large input {
        line-height:30px;
    }

    .search-bar-row.large input[type="submit"] {
        padding:10px  20px 12px 20px;
    }

    .search-bar-row.large input[type="text"] {
        padding:10px  20px 12px 20px;
    }

    .search-bar-row.small input[type="submit"] {
        padding:10px  20px 11px 20px;
    }
    .search-bar-row.small input[type="text"] {
            font-size:15px;
            color:#666666;
            padding:8px 15px 8px 15px;
    }

    .search-bar-row input {
        box-shadow:0 0 3px #666666;
        -moz-box-shadow: 0 0 3px #cccccc;
    }
}


/* Rounding */


.search-bar-row input[type="text"] {
    background: rgb(255,255,255); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI5NSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZGJkYmRiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 95%, rgba(219,219,219,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(95%,rgba(255,255,255,1)), color-stop(100%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 95%,rgba(219,219,219,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,1) 95%,rgba(219,219,219,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,1) 95%,rgba(219,219,219,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,1) 95%,rgba(219,219,219,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=1 ); /* IE6-8 */

}



.search-bar-row input[type="text"] {
    border-top-left-radius:             6px;
    border-bottom-left-radius:          6px;
    -moz-border-radius-topleft:         6px;
    -moz-border-radius-bottomleft:      6px;
    -webkit-border-bottom-left-radius:  6px;
    -webkit-border-top-left-radius:     6px;
}

.search-bar-row input[type="submit"] {
    border-top-right-radius:             10px;
    border-bottom-right-radius:          10px;
    -moz-border-radius-topright:         10px;
    -moz-border-radius-bottomright:      10px;
    -webkit-border-bottom-right-radius:  10px;
    -webkit-border-top-right-radius:     10px;
}


/*===============================================================================
 FLEX DISPLAY
===============================================================================*/

/* Flex settings for advanced search checkboxes (multiple pages) */
/*.flex-display.checkbox-area {

    display:inline-flex;
    flex:0 0 33%;
    -webkit-box-flex:0 0 33%;
    -moz-box-flex: 0 0 33%;
    -webkit-flex:0 0 33%;
    width:32%;
}

.flex-display.checkbox-area div.checkbox-flex-item {
    display:inline-flex;
    width:32%;
}*/


/*.flex-display div.checkbox-flex-item {
    display:inline-flex;
    width:32%;

}*/





/*===============================================================================
 MODAL
===============================================================================*/
.modal-dialog  {
    width:70%;
}

.modal-header .product-nav-row {
    position:relative;
    text-align: center;
}

.modal-header .product-nav-row a {
    display:inline-block;
    text-transform: uppercase;
    font-family:"Montserrat",sans-serif;
    letter-spacing: 1px;
    font-size:.8em;
    border-right:1px solid #d0d2d3;
    box-sizing: border-box;
    text-align: center;
    padding:.8em .5em;
}

.modal-header .product-nav-row a,
.modal-header .product-nav-row a:hover,
.modal-header .product-nav-row a:active {
    outline:none;
    text-decoration:none;
}

.modal-header .product-nav-row a:last-child {
    border-right:none;
    padding-right:0;
}


.modal-header .product-nav-row a:first-child {
    padding-left:0;
}



.modal-body {
    background-color: #9e9baa;
    min-height:250px;
    box-shadow:inset 0 0 40px #898693;
    -moz-box-shadow:inset 0 0 40px #898693;
    -webkit-box-shadow:inset 0 0 40px #898693;
}

.modal-body {
   font-family:"Open Sans",sans-serif;
}

.modal-body .tab-content {
    padding:.5em 0;
}


.modal-body h2 {
    font-weight:bold;
    font-size:1.4em;
    text-transform: none;
    margin:0 0 .3em 0;
}

.modal-body h3 {
    font-size:13px;
    font-family:"Montserrat",sans-serif;
    margin:0 0 .3em 0;
    letter-spacing:1px;
}

.modal-body .main-content p {
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-weight:300;
}

.modal-body p.notice-text {
    font-style:normal;
    font-weight:bold;
    font-size:10px;
    padding:.5em 0;
}


.modal-content {
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.modal-footer {
    padding-top:1.5em;
    padding-bottom:1.5em;
}

.modal-social-icons {
    position: relative;
    padding:0;
    text-align: left;
    border-right:2px solid #d0d2d3;
    border-left:2px solid #d0d2d3;
}

.tab-content .tab-pane {
    height:auto;
}

.modal-social-icons,
.modal-social-icons ul,
.modal-social-icons ul li,
.modal-social-icons a,
.share-div,
.share-label {
    line-height:1;
}

.modal-social-icons {
    position: relative;
    text-align: center;
}

.modal-social-icons ul {
    text-align: center;
    float:none;
    margin:0 auto;
    padding:0;
}

.modal-social-icons ul li {
    float:left;
    list-style: none;
    padding:0 .8em;
}

.modal-social-icons ul li:first-child {
    padding-left:1.5em;
}

.modal-social-icons ul li:last-child {
    padding-right:0;
}

.share-label {
    display:block;
    padding:11px 0;
    text-align: center;
}

.share-label,
.community-contributed {
    font-size:13px;
    font-family: 'Montserrat', sans-serif;
    color:#20182c;
}

.community-contributed {
    margin-top:-.2em;
    display:block;
    text-align:left;
    line-height:1.1;
    background:url(../images/community-contrib-heart_100x100.png) no-repeat;
    background-size: contain;
    padding:.5em 0 .4em 3.6em;
}

.share-label,
.core-addons {
    font-size:13px;
    font-family: 'Montserrat', sans-serif;
    color:#20182c;
}

.core-addons {
    margin-top:-.2em;
    display:block;
    text-align:left;
    line-height:1.1;
    background:url(../images/core_addons_100x100.png) no-repeat;
    background-size: contain;
    padding:.5em 0 .4em 3.6em;
}

.modal-left-button-div button {
    margin:0 auto;
}

.modal-social-icons a  {
    display:block;
    text-align: center;
    width:35px;
    height:35px;
}

.modal-social-icons a:first-child {
    margin-left:0;
}

.modal-social-icons a,
.modal-social-icons a:hover,
.modal-social-icons a:active,
.news-social-icons a,
.news-social-icons a:hover,
.news-social-icons a:active {
    outline:none;
}

.modal-social-icons a.facebook-link,
.news-social-icons a.facebook-link {
    background-image:url(../images/facebook_color_60x60.png);
}

.modal-social-icons a.twitter-link,
.news-social-icons a.twitter-link {
    background-image:url(../images/twitter_color_60x60.png);
}

.modal-social-icons a.linkedin-link,
.news-social-icons a.linkedin-link {
    background-image: url(../images/linkedin_color_60x60.png);
}

.modal-social-icons a.googleplus-link,
.news-social-icons a.googleplus-link {
    background-image: url(../images/google_color_60x60.png);
}

.modal-social-icons a.youtube-link,
.news-social-icons a.youtube-link {
    background-image: url(../images/youtube_color_60x60.png);
}

.modal-social-icons a,
.news-social-icons a  {
    background-size:cover;
    background-repeat: no-repeat;
}

button.close.modal-forge-close {
    /* Resets */
    margin:0;
    padding:0;
    text-shadow: none;
    opacity: 1.0;
    line-height: 1;
    width:52px;
    height:52px;
    outline:none;
    /* Position */
    margin:-30px -30px 0 0;
    background-image:url(../images/close_x_108x216.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}

button.close.modal-forge-close:hover {
    background-position: 0 bottom;
}

button.close.modal-forge-close span {
    display:none;
}




/*===============================================================================
 OTHER TAGS
===============================================================================*/
.section-divider {
    background:#ee3327;
    font-size:1px;
    height:3px;
    width:100%;
    clear:both;
}

div.space,div.spacer {
    height:1px;
    clear:both;
    width:100%;
}


/* This is the width test box */

div#widthBox {
    position:fixed;
    color:red;
    font-size:10px;
    width:25px;
    height:12px;
    top:5px;
    text-align: right;
    left:5px;
    border:1px dotted purple;
    z-index:9000;
    padding:0px 0 2px 1px;
    line-height: 1;
    margin:0;
}

.no-shadow {
    box-shadow: none;
    -moz-box-shadow: none;
    text-shadow: none;

}

/* This is what changes the top nav collapse from a vertical direction to a horizontal direction */
.collapse.width {
    height: auto;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}


/*===============================================================================
GRADIENT BACKGROUNDS
===============================================================================*/
.grey-to-light-grey-background,
.news-item-section,
.addon-section,
.documentation-section
{
    /*background: rgb(189,189,191); *//* Old browsers *//*
    *//* IE9 SVG, needs conditional override of 'filter' to 'none' *//*
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JkYmRiZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIlIiBzdG9wLWNvbG9yPSIjZTllOGVjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  rgba(189,189,191,1) 0%, rgba(233,232,236,1) 2%); *//* FF3.6+ *//*
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(189,189,191,1)), color-stop(2%,rgba(233,232,236,1))); *//* Chrome,Safari4+ *//*
    background: -webkit-linear-gradient(top,  rgba(189,189,191,1) 0%,rgba(233,232,236,1) 2%); *//* Chrome10+,Safari5.1+ *//*
    background: -o-linear-gradient(top,  rgba(189,189,191,1) 0%,rgba(233,232,236,1) 2%); *//* Opera 11.10+ *//*
    background: -ms-linear-gradient(top,  rgba(189,189,191,1) 0%,rgba(233,232,236,1) 2%); *//* IE10+ *//*
    background: linear-gradient(to bottom,  rgba(189,189,191,1) 0%,rgba(233,232,236,1) 2%); *//* W3C *//*
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdbdbf', endColorstr='#e9e8ec',GradientType=0 ); *//* IE6-8 *//*
*/

    /* Same as below but with pixels substituted in */
    background: rgb(189,189,191); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JkYmRiZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIlIiBzdG9wLWNvbG9yPSIjZTllOGVjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  rgba(189,189,191,1) 0%, rgba(233,232,236,1) 35px); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(189,189,191,1)), color-stop(35px,rgba(233,232,236,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(189,189,191,1) 0%,rgba(233,232,236,1) 35px); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(189,189,191,1) 0%,rgba(233,232,236,1) 35px); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(189,189,191,1) 0%,rgba(233,232,236,1) 35px); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(189,189,191,1) 0%,rgba(233,232,236,1) 35px); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdbdbf', endColorstr='#e9e8ec',GradientType=0 ); /* IE6-8 */

}

.doc-left-main-col,
.grey-to-light-grey-horiz-bg {
    background: rgb(233,232,236); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI5MCUiIHN0b3AtY29sb3I9IiNlOWU4ZWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjY2FjOGNlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(left,  rgba(233,232,236,1) 90%, rgba(202,200,206,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(90%,rgba(233,232,236,1)), color-stop(100%,rgba(202,200,206,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(233,232,236,1) 90%,rgba(202,200,206,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(233,232,236,1) 90%,rgba(202,200,206,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(233,232,236,1) 90%,rgba(202,200,206,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(233,232,236,1) 90%,rgba(202,200,206,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e8ec', endColorstr='#cac8ce',GradientType=1 ); /* IE6-8 */

}


/*===============================================================================
 SCREEN SIZE/MEDIA CHANGE BREAKPOINTS
===============================================================================*/


/* Large devices (desktops, 1200px and up: -lg-) */

/* Large Size */
@media (min-width: 1200px) {
    html, body {
        max-width:100%;
        width:100%;

    }
}


/* Medium MD */
@media(min-width:992px) and (max-width:1199px) {
    body {
    /*    border:1px dotted pink;*/
        min-width: 100%;
    }

    .navbar-nav li {
        padding:2px 6px;
    }

    .navbar-nav > li > a {
        font-size:13px;
        padding:2px 8px;
    }

    .login-register-btns li a {
        padding-top:4px;
        padding-bottom:4px;
    }

    .modal-dialog  {
        width:80%;
    }
}



/* Small SM */
@media(min-width:768px) and (max-width:991px) {
    body {
      /*  border:1px solid yellow;*/
    }

    .intro-download-section {
        height:550px;
    }

    .intro-download-section .container-fluid.content-holder {
        height:auto
    }

    .blue-back-div {
        height:200px;
    }

    .forge-download-row {
        margin-top:100px;
    }

    a.forge-main-logo {
        width:129px;
        height:36px;
        background-size: cover;
        vertical-align: middle;
        margin-top:25px;
    }


    .forge-anvil-main-logo {
        width:140px;
        height:140px;
        margin:-80px auto 0 auto;
    }


    ul.login-register-btns li a {
        padding:3px 5px;
    }


    .navbar-nav > li > a {
        font-size:11px;
        padding:2px 6px;
    }


    .forge-headline {
        font-size:1.5em;
        margin-top:0;
        margin-bottom:1em;
    }




    .forge-anvil-addons-emblem {
        width:130px;
        height:130px;
    }

    .addons-link-btns a {
        font-size:11px;
    }


    .btn-med {
        font-size:14px;
    }

    /* MODAL */

    .modal-dialog  {
        width:90%;
    }

    .modal-header .product-nav-row a {
        display:inline-block;
        text-transform: uppercase;
        font-family:"Montserrat",sans-serif;
        letter-spacing: 1px;
        font-size:.8em;
        border-right:1px solid #d0d2d3;
        box-sizing: border-box;
        text-align: center;
        padding:.2em .3em;
    }

    .community-contributed {
        font-size:.8em;
        padding:.3em 0 .3em 3.6em;
    }

    .modal-social-icons ul li {
        padding:0 .5em;
    }

    .checkbox-row {
        font-size:11px;
    }
    label.checkbox-label {
        font-size:11px;
        letter-spacing: 0;
    }

    input.search-checkbox[type="checkbox"] + label span {
        margin-right:2px;
    }

    .download-os-divs h2 {
        font-size:22px;
    }
}



@media(min-width:768px) and (max-width:780px) {
    .navbar-nav > li > a {
        padding-right:4px;
        padding-left:4px;
    }
}


/* Small (XS) max */
@media (max-width: 767px) {

    header.navbar {
        border-bottom:4px solid #ee3327;
    }

    .marquee-text-row {
        margin-top: 1em;
        margin-bottom:0;
    }

    .chevron-down-scroll {
        display:block;
        background-image:url(../images/chevron-down-92x57.png);
        background-repeat: no-repeat;
        background-size: contain;
        width:65px;
        height:40px;
        margin:0 auto;
    }

    .blue-back-div {
        height:auto;
    }

    .alt-header-row {
        position: absolute;
        width:100%;
        clear:both;
        padding:0;
        margin:0;
        text-align: center;
    }

    .alt-header-row div {
        padding:0;
        margin:0;
        text-align: center;
        width:100%;
        position: relative;

    }

    .forge-logo-smaller  {
       display:block;
       width:100px;
       height:100px;
       z-index:300;
       background-color:white;
       padding:5px;
       border-radius: 50%;
       -moz-border-radius: 50%;
       -webkit-border-radius: 50%;
       border:3px solid #ee3327;
       margin:0;
    }

    .forge-logo-smaller:hover,
    .forge-logo-smaller:active,
    .forge-logo-smaller:visited {
        border:3px solid #ee3327;
    }


    .forge-headline {
        width:60%;
        margin:1.5em auto;
        font-size:1.5em;
    }

    .forge-logo-smaller img {
        width:100%;
    }


    div[role="navigation"] {
        margin:0 0 0 -15px;
        background: #4c4c84;
        border-top-right-radius:            10px;
        -moz-border-radius-topright:        10px;
        -webkit-border-top-right-radius:    10px;

        border-bottom-right-radius:            10px;
        -moz-border-radius-bottomright:        10px;
        -webkit-border-bottom-right-radius:    10px;

    }

    .navbar-collapse {
        border:none;
        border-style: none;
    }

    div[role="navigation"]  ul {
        margin:0;
        padding:.2em 0;
    }

    div[role="navigation"]  ul li {
        float:none;
    }

    /* Create a static bg image for the top-most 'download button' section (normally where parallax goes) */
    .page-section.intro-download-section {
           background-image: url(../images/sparks_med_res.jpg);
           background-size:cover;
           background-repeat: no-repeat;
           background-position: center center;
    }

    /* Change login & register buttons to 1 pillbox */
    .login-register-button-div {
        margin-top:0;
    }

    ul.login-register-btns {
        background:none;
        margin:0;
        padding:0;
        border-radius: 5px;
    }

    ul.login-register-btns li {
        float:none;
        margin:0;
        padding:0;
    }

    ul.login-register-btns li a {
        background:white;
        padding:2px 5px;
        margin:0;
        border:none;
    }
    ul.login-register-btns li a,
    ul.login-register-btns li:last-child a,
    ul.login-register-btns li:first-child a {
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        margin:0;
        padding:0;
        width:100%;
        border:none;
    }

    ul.login-register-btns li:first-child a,
    ul.login-register-btns li:first-child a:hover,
    ul.login-register-btns li:first-child a:active,
    ul.login-register-btns li:first-child a:focus,
    ul.login-register-btns li:first-child a:visited {
        border-top-left-radius: 5px;
        border-top-right-radius:5px;
        -webkit-border-top-left-radius:  5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft:5px;
        -moz-border-radius-topright: 5px;
    }

    ul.login-register-btns li:last-child a,
    ul.login-register-btns li:last-child a:hover,
    ul.login-register-btns li:last-child a:active,
    ul.login-register-btns li:last-child a:focus,
    ul.login-register-btns li:last-child a:visited {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius:5px;
        -webkit-border-bottom-left-radius:  5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-bottomleft:5px;
        -moz-border-radius-bottomright: 5px;
    }

    .forge-download-row {
        margin-top:0;
    }


    .blue-back-div {
        height:auto;
        padding-bottom:2em;
    }

    /* Join Us Section */

    .join-us-section {
        text-align: center;
    }

    .join-us-section .forge-btn {
        margin:1em auto;
    }

    /* Download buttons */
    .forge-btn.btn-lrg {
        margin:0 auto;
        width:50%;
        font-size:.9em;
        padding:8px;
    }

    /* Main download button change only */
    .forge-download-row .top-download-btn {
        margin:0 auto -55px auto;
        font-size:16px;
        top:-20px;
    }

    .network-graphic-div-container,
    .network-graphic-div-container .network-graphic-div {
        margin:0 auto;
        text-align: center;
    }


    .grey-div.right-div {
        height:auto;
    }


    .grey-div.right-div > .download-links-for-os h2 {
        text-align: center;
    }

    .grey-div.right-div > .download-links-for-os .link-p {
        text-align: center;
    }

    /* Addons Section */
    .grey-div.center-div {
        width:100%;
        margin:0;
    }
    .addons-section {
        text-align: center;
    }

    .addons-section h1 {
        margin:1.5em 0;
        font-size:1.5em;
    }

    .addons-section h2 {
        margin:1.5em 0;
        font-size:1em;
    }

    .addons-section p {
        font-size:.75em;
        line-height:1.5em;
        margin:0;
        padding:0;
    }


    /* Footer links */
    .footer-links-support {
        text-align: center;

    }

    .footer-links-support .jboss-forge-logo {
        margin:0 auto;
    }

    .footer-links-support .link-section-columns  div.col-xs-12 {
        margin:1em auto;
        float:none;
    }

    footer .container .row .col-xs-12 {

       text-align: center;
   }
    .footer-links-support .link-section-columns  h3 {
        padding:.5em 0;
        border-top:1px solid white;
    }

    .search-form-footer {
        margin:1em auto;
    }

    /* Reduce padding between certain sections */
    .static {
        padding:1em 0;
    }

    .environment-os-section {
        padding-bottom: 0;
        border-top:5px solid #f5f5f5;
    }

    /* Change grey-div's to white background */
    .grey-div.center-div {
        background-color: #ffffff;
    }

    .eclipse-intellij-row {
        padding:3em 0;
        border-top:1em solid #e9e8ec;
        border-bottom:1em solid #e9e8ec;
    }

    /* Widen Download/Learn More Buttons */
    .eclipse-intellij-row   .btn-lrg {
            width:90%;
    }

    .get-forge {
        padding:.5em 0;
    }

    .download-links-for-os {
        padding:1.4em 0;
    }

    .displayed-computer {
        height:120px;
        text-align: center;
    }

    .displayed-computer img {
        height:100%;
        width:auto;
    }

    /* Search Bar - Large */
    .search-bar-row.large input {
        box-shadow:      none;
        -moz-box-shadow: none;
    }

    .search-bar-row.large input[type="text"] {
        width:60%
    }

    .modal-social-icons {
        padding-left:15px;
    }

    /* Resize Tag For Flex Display Grid in search boxes */
    .checkbox-columns div.row.flex-display {
        padding-top:.5em;
    }

    .download-instructions-section .row {
        width:80%;
        margin:0 auto;
    }


}

/* This is typically the smallest size (XS) but not currently in use for Forge */
@media(min-width:480px) and (max-width:767px) {
    body {
       /* border:1px solid lime;*/
    }



    .intro-download-section  {
        /*min-height:auto;*/
        height:380px;
    }

    div > ul.footer-social-icons {

        position: relative;
    }

    ul.footer-social-icons {
        width:auto;
        float:none;
    }


    ul.footer-social-icons li a {
        width:40px;
        height:40px;
    }

    ul.footer-social-icons li > a {
        margin:0 15%;
    }

    ul.footer-social-icons li:first-child > a {
        margin-left:0;
    }

    ul.footer-social-icons li:last-child > a {
        margin-right:0;
    }

    .intro-download-section .forge-btn.btn-lrg {
        width:25%;
    }

    .forge-anvil-addons-emblem {
        width:140px;
        height:140px;
    }



    /* MODAL */
    .modal-dialog  {
        width:90%;
        margin:2em auto 0 auto;
    }

    .modal-header .product-nav-row a {
        display:inline-block;
        text-transform: uppercase;
        font-family:"Montserrat",sans-serif;
        letter-spacing: 0px;
        font-size:.6em;
        border-right:1px solid #d0d2d3;
        box-sizing: border-box;
        text-align: center;
        padding:.1em .2em;
    }

    .community-contributed {
        font-size:.6em;
        margin:1.5em auto 0 auto;
        padding:.3em 0 .3em 3.6em;
    }

    .modal-social-icons ul li {
        padding:0 .2em;
    }

    button.close.modal-forge-close {
        width:30px;
        height:30px;
        margin-top:-10px;
        margin-right:-10px;
    }

}

@media(max-width:479px) {
    body {
      /*  border:1px solid orange;*/
    }


    .intro-download-section  {
        min-height:auto;
        height:440px;
    }

    .btn-lg,
    .btn-med {
        font-size:12px;
    }

    ul.login-register-btns {
        font-size:11px;
    }

    div > ul.footer-social-icons {

        position: relative;
    }

    ul.footer-social-icons {
        width:auto;
        float:none;
    }


    ul.footer-social-icons li a {
        width:30px;
        height:30px;
    }

    ul.footer-social-icons li > a {
        margin:0 5%;
    }

    ul.footer-social-icons li:first-child > a {
        margin-left:0;
    }

    ul.footer-social-icons li:last-child > a {
        margin-right:0;
    }

    .forge-anvil-addons-emblem {
        width:90px;
        height:90px;
    }


    /* MODAL */
    .modal-dialog  {
        width:90%;
        margin:2em auto 0 auto;
    }

    .modal-header .product-nav-row a {
        display:inline-block;
        text-transform: uppercase;
        font-family:"Montserrat",sans-serif;
        letter-spacing: 0px;
        font-size:.6em;
        border-right:none;
        box-sizing: border-box;
        text-align: center;
        padding:0 .3em;
    }

    .community-contributed {
        font-size:.6em;
        margin:1.5em auto 0 auto;
        padding:.3em 0 .3em 3.6em;
    }

    .modal-social-icons {
        border:none;
    }

    .modal-social-icons ul li {
        padding:0 .1em;
    }

    .modal-social-icons ul li a {
        padding:0;
        width:30px;
        height:30px;
    }

    button.close.modal-forge-close {
        width:30px;
        height:30px;
        margin-top:-10px;
        margin-right:-10px;
    }

    .share-label {
        display:none;
    }

    .checkbox-row {
        font-size:11px;
    }

    .chevron-down-scroll {
        width:50px;
        height:31px;
    }


    /* ** Firefox Search Bar Adjustments ** */

    @-moz-document url-prefix() {
        /* Larger Search Bar */
        .search-bar-row.large input {
            line-height:1.5em;
            font-size:12px;
        }
    }

    .modal-social-icons ul li a {
        width:25px;height:25px;
    }

}

@media print { }

/*===============================================================================
 SCREEN RESOLUTION CHANGES HERE (SOME GRAPHICS)
===============================================================================*/


/* Retina-specific */

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {

    /* Large screen, retina, stuff to override above media query */
    a.forge-main-logo {
        background: url(../images/forge_logo_645x180.png) no-repeat;
        background-size: contain;
    }

}